<div class="toolbar-container">
  <div class="buttons-container">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <mat-date-range-input [rangePicker]="measurementsDatePicker"
                            [min]="validTimeRange.from"
                            [max]="validTimeRange.to"
                            [disabled]="selectedBoard === undefined">
        <input matStartDate placeholder="Start date" (dateInput)="onStartDateSelected($event.value)">
        <input matEndDate placeholder="End date" (dateInput)="onEndDateSelected($event.value)">
      </mat-date-range-input>

      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="measurementsDatePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #measurementsDatePicker></mat-date-range-picker>
    </mat-form-field>

    <button mat-raised-button class="mat-button reset-button"
            [disabled]="selectedBoard === undefined"
            (click)="board.generateLayout()">
      Reset layout
    </button>
  </div>

  <button mat-mini-fab color="primary" class="mat-button refresh-button"
          [disabled]="this.loadingData"
          (click)="this.refreshData()">
    <mat-icon  >refresh</mat-icon>
  </button>

</div>

<mat-tab-group class="mat-tab-group" (selectedIndexChange)="onTabIndexChange($event)">
  <mat-tab *ngFor="let board of boards" [label]="board.name"></mat-tab>
</mat-tab-group>

<app-board-details #board
                   [board]="selectedBoard"
                   [dataTimeRange]="dataTimeRange">
</app-board-details>
