:root{
  --bordersize: 1px;
}

.line-chart {
  width: 0;
  overflow-x: hidden;

  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  transition: ease-in-out 400ms flex-grow;
}

.line-chart.opened {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  transition: ease-in-out 1000ms flex-grow;
}

.sensor-container {
  border-left: var(--bordersize) dashed #ccc;
  border-bottom: var(--bordersize) dashed #ccc;
  margin-left: calc(-1 * var(--bordersize));
  margin-bottom: calc(-1 * var(--bordersize));
}

.data-display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}
