.line-chart {
  max-width: 0;
  overflow-x: hidden;
  transition: ease-in-out 400ms max-width;
}

.line-chart.opened {
  max-width: 600px;
  transition: ease-in-out 600ms max-width;
}

.gauge-chart {
  max-width: 0;
  overflow-x: hidden;
  transition: ease-in-out 400ms max-width;
}

.gauge-chart.opened {
  max-width: 300px;
  transition: ease-in-out 600ms max-width;
}

.sensor-container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.data-display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}
