<mat-card *ngIf="sensor !== undefined">
  <mat-card-title class="card-title">
    {{sensor.name}}
  </mat-card-title>

  <div class="data-display-container">
    <div class="gauge-chart">
      <ngx-charts-gauge *ngIf="sensor.measurementUnit !== MeasurementUnit.BOOL"
                        [view]="[heightPx * gaugeScaleFactor, heightPx]"
                        [results]="[sensor.latestMeasurement]"
                        [min]="valueRange.from"
                        [max]="valueRange.to"
                        [bigSegments]="gaugeSegments"
                        [smallSegments]="gaugeSegments / 2"
                        [valueFormatting]="formatValue"
                        [startAngle]="-120"
                        [angleSpan]="240"
                        [showAxis]="false"
                        [units]="sensor.measurementUnit.toString()"
                        [scheme]="colorScheme">
      </ngx-charts-gauge>
      <!--app-boolean-indicator *ngIf="sensor.measurementUnit === MeasurementUnit.BOOL"
        [value]="sensor.latestMeasurement.value > 0.0">
      </app-boolean-indicator-->
      <ngx-charts-gauge *ngIf="sensor.measurementUnit === MeasurementUnit.BOOL"
                        [view]="[heightPx * gaugeScaleFactor, heightPx]"
                        [results]="[sensor.latestMeasurement]"
                        [min]="0"
                        [max]="1"
                        [bigSegments]="gaugeSegments"
                        [smallSegments]="gaugeSegments / 2"
                        [valueFormatting]="formatBool"
                        [showAxis]="false"
                        [startAngle]="-180"
                        [angleSpan]="360"
                        [units]="'____'"
                        [scheme]="colorScheme">
      </ngx-charts-gauge>
    </div>

    <div class="line-chart" (resized)="onChartWidthChange($event)" [class.opened]="layoutWidth > 1">
      <ngx-charts-line-chart
        [view]="[chartWidth, heightPx]"
        [scheme]="colorScheme"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [xAxisLabel]="'Time'"
        [trimXAxisTicks]="true"
        [yAxis]="true"
        [yAxisLabel]="sensor.measurementUnit"
        [timeline]="true"
        [results]="data"
        [gradient]="true"
        [roundDomains]="true"
        [showGridLines]="true"
        [referenceLines]="sensor.referenceLines"
        [showRefLines]="true">
      </ngx-charts-line-chart>
    </div>
  </div>
</mat-card>
